# Environments
.venv/
.venv3/
venv/
.venv_old/
venv_temp/
ENV/
env/

# IDEs
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Caches
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
